
.item-container {
    display: flex;
}

.item-row {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 4px;
    background-color: #fff;
    border-radius: 4px;
}

.item {
    padding: 4px 8px;
    overflow: hidden;
}