.table-container {
    padding-bottom: 12px;
}

.items-table {
    color: #282c34;
    padding: 12px;
    background-color: #eee;
    border-radius: 4px;
    display: inline-block;
    box-shadow: inset 0 0 15px 0 #cecece, 1px 1px 2px #adadad;
}

.title-table {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    font-weight: 500;
}
.title-table > div {
    margin-right: 8px;
}

.title {
    margin: 0 12px 12px 4px;
}

.line-container {
    display: flex;
    align-items: baseline;
}

.delete-item, .edit-item {
    padding: 4px 8px;
    margin-left: 2px;
    background-color: #999;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}
